<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/search.css">
    <script
      src="https://kit.fontawesome.com/768822f290.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <form class="form" method="post" action="/search">
        <input type="text" name="keyword" id="keytext" required />
        <button id="btnsearch"><i class="fas fa-search"></i></button>
      </form>
    <table>
      <thead>
        <th>#</th>
        <th>Title</th>
        <th>Name</th>
        <th>Paragraph</th>
      </thead>
      <tbody>
        <% for (var i = 0; i < posts.length; i++) { %>
         <tr>
          <th><%= i+1 %></th>
          <td><%= posts[i].title %></td>
          <td><%= posts[i].Name %></td>
          <td><%= posts[i].Paragraph %></td>
         </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
